.sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#total {
  background-color:#6AB04C ;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0 1.5rem;
  margin: 5px 5px 20px 5px;
}

.order{
  align-self: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.totals-foot{
  align-self: center;
  margin-top: 100%;
  margin-bottom: 30px;
}