.titulo{
  text-align: center;
}
.one-div,.three-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.two-div,.four-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}