* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}



.web-container > * {
    box-shadow: darkgray;
    border-radius: 1px;
    padding: 10px;
}

.navbar {
    grid-area: navbar;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: inherit;
}

.mainbody {
    grid-area: mainbody;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.sidebar {
    grid-area: sidebar;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    grid-area: footer;
    background-color: green;
    font-style: italic;
    font-size: 2px;
    display: inherit;
    align-items: center;
}

.web-container {
    grid-template: 
        "header header header"    20%
        "navbar mainbody sidebar" 70%
        "footer footer footer"    10% / 
        20%     auto     20%;
}