#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 620%;
    margin-top: 20%;
    margin-bottom: 20%;
}


/* #logo {
    height: 20%;
    width: 30%;
} */

#btn-register {
    margin-left: 5%;
}

#chart {
    margin-top: 2%;
    margin-left: 1%;
    font-weight: 600;
}

#list {
    background-color: #dbd360;
}

#Nav {
    color: black;
}

#main,
#buffet,
#sandwiches,
#drinks,
#deserts {
    color: black;
}

#container-client-panel {
    /* display: flex;
    flex-basis: auto; */
    position: absolute;
    background-color: #b03858;
    height: 94%;
}

#div-father {}

#div-container-body {
    display: flex;
}

#div-body {
    display: flex;
    margin-top: 30%;
    margin-bottom: 30%;
    align-items: center;
}

#container-client-footer {
    display: flex;
    align-items: flex-end;
    background-color: pink;
}