.navbar {
  /* grid-area: navbar; */
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 3rem !important;
  justify-content: space-between;
  max-width: 250px;
}

#carta-label{
  margin-top: 20px;
  color:black;
}

.sidebar-stickypt-3{
  margin-top: 15px;
  margin-bottom: 100%;
  align-items: inherit;
}
.file{
  color:black;
}
.nav-link{
  color: black;
}