footer {
  grid-area: footer;
  background-color: green;
  font-style: italic;
  font-size: 2px;
  display: inherit;
  align-items: center;
}

#footer{
  background-color: #6AB04C;
}
#contact{
  margin-left: 50%;
}
