.tittle{
  text-align: center;
}
.card{
  margin: 3%;
  border: 2px solid black;
}
#div-cards{
  width: 30%;
}
.div-container{
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
}
.card-img{
  margin-top: 30%;
}